.icon {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: .75rem;
}
.c {
	content: url('../icons/c.svg');
}
.cpp {
	content: url('../icons/c++.svg');
}
.tailwind {
	content: url('../icons/tailwindcss.svg');
}
.flutter {
	content: url('../icons/flutterio-icon.svg');
}
.dart {
	content: url('../icons/dartlang-icon.svg');
}
.pytorch {
	content: url('../icons/pytorch-icon.svg');
}
.tensorflow {
	content: url('../icons/tensorflow-icon.svg');
}
.opencv {
	content: url('../icons/opencv-icon.svg');
}
.sql {
	width: 35px;
	content: url('../icons/mysql-official.svg');
}
.mongodb {
	content: url('../icons/mongodb-icon.svg');
}
