@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.bg-pallete-light {
	background-color: #190061;
}
.bg-pallete-dark {
	background-color: #0c0032;
}
.bg-pallete-white {
	background-color: #f0f0f0;
}
.bg-pallete-highlight {
	background-color: #3500d3;
}
.bg-pallete-grey {
	background-color: #282828;
}
