.icon {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: .75rem;
}
.c {
	content: url('./assets/icons/c.svg');
}
.cpp {
	content: url('./assets/icons/c++.svg');
}
.tailwind {
	content: url('./assets/icons/tailwindcss.svg');
}
.flutter {
	content: url('./assets/icons/flutterio-icon.svg');
}
.dart {
	content: url('./assets/icons/dartlang-icon.svg');
}
.pytorch {
	content: url('./assets/icons/pytorch-icon.svg');
}
.tensorflow {
	content: url('./assets/icons/tensorflow-icon.svg');
}
.opencv {
	content: url('./assets/icons/opencv-icon.svg');
}
.sql {
	width: 35px;
	content: url('./assets/icons/mysql-official.svg');
}
.mongodb {
	content: url('./assets/icons/mongodb-icon.svg');
}
